.header {
    align-items    : center;
    display        : flex;
    justify-content: space-between;
    padding        : 1rem;
}

.logo {
    align-items    : center;
    display        : flex;
    flex           : 1;
    gap            : 0.5rem;
    justify-content: flex-start;
}

.logo>span {
    font-size  : 1.5rem;
    font-weight: bold;
}

.menu {
    display        : flex;
    flex           : 1;
    gap            : 2rem;
    justify-content: center;
    list-style     : none;
    z-index        : 99;
}

.menu>li:hover {
    color : var(--themeYellow);
    cursor: pointer;
}

.rightSide {
    display        : flex;
    flex           : 1;
    gap            : 1rem;
    justify-content: flex-end;
}

.cart {
    cursor  : pointer;
    display : flex;
    position: relative;
    z-index : 99;
}

.badge {
    align-items     : center;
    background-color: var(--themeYellow);
    border-radius   : 50%;
    color           : white;
    display         : flex;
    display         : flex;
    height          : 20px;
    justify-content : center;
    position        : absolute;
    right           : -0.5rem;
    width           : 20px;
}